/* Header */

.header {
  grid-area: header;
  background: $color-white;
  padding: 1.5rem 3rem 1rem;

  display: grid;
  gap: 1rem;
  grid-template: 1fr 2fr / 1fr 400px;

  .searchbar {
    display: grid;
    grid-template: 32px / 32px 1fr;
    grid-gap: 0.5rem;

    label {
      cursor: pointer;
      display: grid;
    }

    svg {
      place-self: center;
      height: 80%;
    }

    input[type='search'] {
      font-size: 0.9em;
      background: $color-grey;
      padding: 0 16px;
      outline: none;
      border: none;
      border-radius: 16px;
    }
  }

  .user-info {
    display: grid;
    grid-template: 42px / repeat(2, max-content);
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;

    /* To align with searchbar */
    margin-top: -6px;

    svg {
      cursor: pointer;
      height: 28px;
    }

    a {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      height: 100%;
    }

    img {
      height: 100%;
    }

    p {
      font-size: 1.125rem;
      font-weight: bold;
    }
  }

  .user-greeting {
    display: grid;
    grid-template: 1fr 1fr / repeat(2, max-content);
    row-gap: 0.25rem;
    column-gap: 0.75rem;
    align-items: center;
    height: 100%;

    font-weight: bold;

    img {
      grid-row: 1 / span 2;
      height: 100%;
    }

    .greeting-text {
      font-size: 0.875rem;
      align-self: end;
    }

    .user-name {
      font-size: 1.25rem;
      align-self: start;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    button {
      flex: 1;
      cursor: pointer;
      font-weight: bold;
      color: $color-white;
      background: $color-blue;
      padding: 0.75rem 0;
      border: none;
      border-radius: 2rem;
    }
  }
}
