/* Main content section */

.main-content {
  grid-area: main;
  background: $main-clr;
  padding: 2rem 2rem 5rem 2rem;

  display: grid;
  grid:
    'projects announcements' 1fr
    'projects trending' 1fr
    / 2fr 300px;
  gap: 2rem;

  > section {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
  }
}

.projects {
  grid-area: projects;

  .card {
    min-height: 200px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

.card {
  background: $main-card-clr;
}
