/* Main content section */

.main-content {
  grid-area: main;
  background: $color-gray-light;
  padding: 2rem 2rem 5rem 2rem;

  display: grid;
  grid:
    'projects announcements' 1fr
    'projects trending' 1fr
    / 2fr 300px;
  gap: 2rem;

  > section {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
  }
}

.projects {
  grid-area: projects;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }

  .card {
    min-height: 200px;
  }
}

.announcements {
  grid-area: announcements;

  .cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    background: $color-white;
    padding: 1.5rem;
  }

  .card {
    h3 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.85rem;
      color: $color-gray;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-light;

      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.trending {
  grid-area: trending;

  .cards {
    display: grid;
    background: $color-white;
    padding: 1rem 1.5rem;
  }

  .card {
    display: grid;
    grid-template: 1fr 1fr / max-content 1fr;
    row-gap: 0.375rem;
    column-gap: 1rem;
    align-items: center;

    img {
      height: 75%;
      grid-row: 1 / span 2;
    }

    .user-name,
    .user-title {
      font-size: 0.8rem;

      /* Use grid to align text */
      display: grid;
      height: 100%;
    }

    .user-name {
      font-weight: 700;
      align-items: end;
    }

    .user-title {
      color: $color-gray;
    }
  }
}

.card {
  background: $color-white;
}
