/* Sidebar */

.nav-sidebar {
  grid-area: sidebar;
  font-size: 1.25rem;
  color: $color-white;
  background: $color-blue;
  padding: 1rem 2rem;

  ul {
    list-style: none;
  }

  li.settings {
    margin-top: 3rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.logo {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 3rem;

  a {
    gap: 0;
  }

  svg {
    fill: $color-white;
    width: 3rem;
    transform: translateX(-20%);
  }
}

.site-links {
  display: grid;
  gap: 1rem;

  svg {
    fill: $color-white;
    width: 1.5rem;
  }

  a:hover {
    color: $color-gray-light;

    svg {
      fill: $color-gray-light;
    }
  }
}
