/* Variables */

$color-blue: #1992d4;
$color-white: white;
$color-grey: #e2e8f0;

$font-primary: Inter;
$fonts-system: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
