/* Variables */

$header-clr: white;
$sidebar-clr: #1992d4;
$main-clr: #e2e8f0;
$main-card-clr: white;

$secondary-clr: #e2e8f0;

$primary-font: Inter;
$system-fonts: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
